.cora-ai-header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 3rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3); /* Only bottom shadow */
}

.user-avatar {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    padding-right: 1rem;
}
.user-search{
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    padding-left: 1rem;
}

.user-dropdown {
    position: absolute;
    top: 2.2rem;
    right: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 4px;
    z-index: 1000;
    min-width: 120px;
    padding: 0.5rem 0;
}

.user-dropdown-button{
    background: none;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.diagnosis-hcc-card-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    min-height: 10rem;
    box-shadow: 0 2px 6px 2px color-mix(in srgb, rgb(0, 0, 0) 15%, transparent);
    padding: 1rem;
    background: #fff;
}

.diagnosis-hcc-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
.diagnosis-hcc-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
    margin-top: auto;
}

.diagnosis-hcc-card-button {
    background-color: dodgerblue;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

    
.diagnosis-hcc-card-header-arrow{
    width: 1rem;
    height: 1rem;
}
.diagnosis-hcc-header{
    font-size: 1rem;
    font-weight: bold;
    color: #145DA0;
}

.cora-button{
    font-size: 0.875rem;
    background-color: #145DA0;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
  }

  .cora-normal-button{
    font-size: 0.875rem;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    cursor: pointer;
  }

  .cora-text-button{
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #2563eb;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }