.heading-text{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.normal-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.small-text{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
}